/**************/
/* Navigation */
/**************/

nav.primary ul {
  display: flex;
}

nav.primary li {
  flex: auto;
}
nav.primary a {
  display: block;
  padding: .5rem 1rem;

  text-decoration: none;
  color: indigo;

  border-radius: .3rem;

  text-align: center;
  font-variant: small-caps;
  font-family: sans-serif;
}

nav.primary a:hover {
  background-color: papayawhip;
}

nav.primary a:active {
  background-color: indigo;
  color: white;
}

/**********/
/* Header */
/**********/


.page-header {
  display: flex;
  align-items: center;
  
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #aaa;
}

.site-name {
  font-size: 2rem;
  margin: 0;
}

.tagline {
  font-size: 1.5rem;
  margin: 0;
}

img.sait-logo {
  flex: 0;
  width: 100px;
}

.page-header div {
  flex: auto;
}

body > div.wrapper {
  max-width: 90ch;
  width: 80vw;
  margin: auto;
}

/****************/
/* Page Content */
/****************/

hr {
  margin: 2em 5em;
}

/* Notice box and info box */
/* TODO: remove notice--info? */
.notice {
  /* box model */
  margin: 25px auto;
  padding: 25px 50px;
  width: 50ch;

  /* colour */
  border-radius: 15px;
  background-color: lightgrey;
  border: 5px solid black;
}

/* red warning box */
.notice--warning  {
  background-color: pink;
  border-color: red;
}

/* purple pro-tip box */
.notice--pro-tip {
  background-color: skyblue;
  border-color: rebeccapurple;
}

/***************/
/* Definitions */
/***************/

dl {
  font-size: 1.2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

/**********/
/* Footer */
/**********/

footer {
  border-top: 1px solid grey;
  padding: 2rem;
  text-align: center;
}
