/**************/
/* Navigation */
/**************/

nav.primary ul {
  display: flex;
}

nav.primary li {
  flex: auto;
}
nav.primary a {
  display: block;
  padding: .5rem 1rem;

  text-decoration: none;
  color: indigo;

  border-radius: .3rem;

  text-align: center;
  font-variant: small-caps;
  font-family: sans-serif;
}

nav.primary a:hover {
  background-color: papayawhip;
}

nav.primary a:active {
  background-color: indigo;
  color: white;
}

/**********/
/* Header */
/**********/


.page-header {
  display: flex;
  align-items: center;
  
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #aaa;
}

.site-name {
  font-size: 2rem;
  margin: 0;
}

.tagline {
  font-size: 1.5rem;
  margin: 0;
}

img.sait-logo {
  flex: 0;
  width: 100px;
}

.page-header div {
  flex: auto;
}

body > div.wrapper {
  max-width: 90ch;
  width: 80vw;
  margin: auto;
}

/****************/
/* Page Content */
/****************/

hr {
  margin: 2em 5em;
}

/* Notice box and info box */
/* TODO: remove notice--info? */

.notice {
  /* box model */
  margin: 25px auto;
  padding: 25px 50px;
  max-width: 50ch;

  /* colour */
  border-radius: 15px;
  background-color: lightgrey;
  border: 5px solid black;
}

.notice i {
  margin-right: .5rem;
}

/* yellow warning box */
.notice--warning  {
  background-color: hsl(60deg, 50%, 95%);
  border-color: hsl(50deg, 100%, 50%);
  color: hsl(60deg, 100%, 10%);
}

.notice--warning::before {
  content: url('https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/exclamation-triangle.svg');
  display: inline-block;
  
  width: 1.2em;
  margin-right: 0.4rem;
}

/* green warning box */
.notice--info  {
  background-color: hsl(90deg, 30%, 95%);
  border-color: hsl(90deg, 100%, 50%);
  color: hsl(90deg, 100%, 10%);
}

.notice--info::before {
  content: url('https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/question.svg');
  display: inline-block;
  width: 0.8em;
  margin-right: 0.4rem;
}

/* indigo pro-tip box */
.notice--pro-tip  {
  background-color: hsl(270deg, 50%, 95%);
  border-color: hsl(270deg, 100%, 50%);
  color: hsl(270deg, 100%, 10%);
}
.notice--pro-tip::before {
  content: url('https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/trophy.svg');
  display: inline-block;
  width: 1.2em;
  margin-right: 0.4rem;
}
/* indigo pro-tip box */
.notice--danger  {
  background-color: hsl(0deg, 50%, 95%);
  border-color: hsl(0deg, 100%, 50%);
  color: hsl(0deg, 100%, 10%);
}
.notice--danger::before {
  content: url('https://sait-wbdv.github.io/sample-code/assets/font-awesome/svgs/solid/skull-crossbones.svg');
  display: inline-block;
  width: 0.9em;
  margin-right: 0.4rem;
}

/***************/
/* Definitions */
/***************/

dl {
  font-size: 1.2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

/**********/
/* Footer */
/**********/

footer {
  border-top: 1px solid grey;
  padding: 2rem;
  text-align: center;
}
