<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">

    <!-- Code Highlghter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai-sublime.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Website Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/reset.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/utilities.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fonts/raleway-light_open-sans.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
  </head>
  <body>
    <div class="wrapper">
      <header class="page-header">
        <img class="sait-logo" src={{ "/assets/images/sait-logo.png" | relative_url }} alt="SAIT Logo">
        <div>
          <h1>SAIT WBDV</h1>
          <h2 class="tagline">Web Developer Fast Track - Winter 2021</h2>
          <nav>
            <ul>
              <li><a href="/winter-2021">Home</a></li>
              <li><a href="https://sait-ca.zoom.us/j/89935602857">Zoom</a></li>
              <li><a href="https://sait-wbdv.slack.com/">Slack</a></li>
              <li><a href="https://learn.sait.ca">Brightspace</a></li>
              <li><a href="{{ "/assets/css/reset.css" | relative_url }}">Library</a></li>
            </ul>
          </nav>
        </div>
      </header>
      {{ content }}
    </div>
  </body>
</html>
